html,
body {
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
}
._container {
  display: flex;
  flex-wrap: wrap;
}

._chessBoard {
  display: flex;
  flex-wrap: wrap;
}

._boardRow {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

._square {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 2px black;
  position: relative;
}

._square svg {
  height: 65px;
  width: 65px;
  stroke-width: 10px;
  filter: drop-shadow(0px 0px 3px rgb(0 0 0 / 0.4));
}

._square ._rowNumber {
  position: absolute;
  top: 0;
  left: 3px;
}

._square ._columnName {
  position: absolute;
  bottom: 0;
  right: 5px;
}

.dark {
  background-color: green;
  color: white;
}

.light {
  background-color: white;
  color: green;
}

._infoBox {
  text-align: center;
  margin: 0 auto;
}
