html,
body {
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
}
._container {
  display: flex;
  flex-wrap: wrap;
}

._chessBoard {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-width: 400px;
  min-height: 400px;
  max-width: 900px;
  max-height: 900px;
  width: 80%;
  height: 80vw;
}

._boardRow {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 12.5%;
}

._square {
  width: 12.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 2px black;
  position: relative;
}

._square svg {
  height: 65px;
  width: 65px;
  stroke-width: 10px;
  filter: drop-shadow(0px 0px 3px rgb(0 0 0 / 0.4));
}

._square ._rowNumber {
  position: absolute;
  top: 0;
  left: 3px;
}

._square ._columnName {
  position: absolute;
  bottom: 0;
  right: 5px;
}

._square._selected {
  background-color: lightgreen;
}

._canBeMovedTo {
  background-color: pink !important;
  content: "->";
}

.dark {
  background-color: green;
  color: white;
}

.light {
  background-color: white;
  color: green;
}

._infoBox {
  text-align: center;
  margin: 0 auto;
}

._checkmate {
  position: absolute;
  margin: 0 auto;
  width: 50%;
  min-height: 150px;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: darkblue;
  color: white;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 1;
  font-size: 20px;
}
