html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}
._container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

._chessBoard {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 50vw;
  max-height: 90vh;
  aspect-ratio: 1 / 1;
  margin-right: 20px;
}

._boardRow {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 12.5%;
}

._square {
  width: 12.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 2px black;
  position: relative;
}

div svg {
  height: 100%;
  width: 100%;
  stroke-width: 10px;
  filter: drop-shadow(0px 0px 3px rgb(0 0 0 / 0.4));
}

._square ._rowNumber {
  position: absolute;
  top: 0;
  left: 3px;
}

._square ._columnName {
  position: absolute;
  bottom: 0;
  right: 5px;
}

._square._selected {
  background-color: lightgreen;
}

._cursorUpdate * {
  cursor: grabbing !important;
}

._canBeMovedTo {
  background: radial-gradient(rgba(20, 85, 30, 0.5) 19%, rgba(0, 0, 0, 0) 20%);
}

._canBeMovedToOccupied {
  background: radial-gradient(
    transparent 0%,
    transparent 79%,
    rgba(20, 85, 0, 0.3) 80%
  );
}

.dark {
  background-color: green;
  color: white;
}

.light {
  background-color: white;
  color: green;
}

._infoBox {
  text-align: center;
  margin: 0 auto;
}

._checkmate {
  position: absolute;
  margin: 0 auto;
  width: 50%;
  min-height: 150px;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: darkblue;
  color: white;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 1;
  font-size: 20px;
}

#_dragImage {
  position: absolute;
  z-index: 100;
  stroke: black;
  pointer-events: none;
}

._dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing !important;
}

._historyNavigator {
  margin: 10px;
  width: 300px;
  height: 250px;
  overflow: hidden;
  padding: 10px;
  background: black;
  color: white;
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}

._historyNavigator > div {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._historyContainer {
  height: 30px;
  display: flex;
  justify-content: space-between;
}

._historyButton {
  color: white;
  margin: 0 5px;
  cursor: pointer;
}

._name {
  height: 30px;
}

._moveList {
  height: 110px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  font-size: 0.9rem;
  align-content: flex-start;
}

._moveRow {
  display: flex;
  width: 100%;
}

._moveNumber {
  margin-right: 8px;
}

._move {
  width: 100%;
  cursor: pointer;
}

._move:hover {
  background-color:rgba(20, 85, 0, 1)
}

._move._selected {
  background-color: rgba(20, 85, 30, 0.5);
}

._gameProposalContainer {
  height: 50px;
}
